<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper teal darken-1">
			<div class="container">
				<a class="brand-logo" href="/"><%= config.title %></a> <a class="button-collapse" data-activates="mobilenav" href="#"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
                    <% for (var i in theme.menu){ %>
                    <li>
                        <a class="waves-effect waves-light" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                    </li>    
                    <% } %>
				</ul>
			</div>
		</div>
	</nav>`
</div>
<ul class="side-nav" id="mobilenav">
    <% for (var i in theme.menu){ %>
    <li>
        <a class="waves-effect waves-green" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    </li>    
    <% } %>
</ul>