<%- partial('_partial/jumbotron.ejs') %>


  <div class="row" style="padding-top:20px;">
    <div class="col s12 m12 l12">
      <%site.posts.sort('date', -1).each(function(post){ %>
        <div class="col s4 m4">
          <a href="<%- url_for(post.path) %>">
            <div class="card-panel blue-grey">
              <span class="white-text"><%= post.title || '(no title)' %></span>
              <span class="new badge" data-badge-caption=""><%= post.date.format(config.date_format) || 'no date'%></span>
            </div>
          </a>
        </div>
        <%}) %>
    </div>

    <%- partial('_partial/blognav.ejs') %>
  </div>
