<!DOCTYPE html>
<html>

<head>
    <%- partial('_partial/styles') %>


        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <%if (theme.favicon.default) { %>
        <link rel="icon shortcut" type="image/ico" href="<%= url_for(theme.favicon.default) %>">
        <% } %>

        <title>
            <%= page.title %> | <%= config.title %>
        </title>
</head>

<body>
    <%- partial('_partial/navbar') %>

    <%- partial('_partial/analytics') %>

    <%- body %>

    <%- partial('_partial/scripts') %>

    <%- partial('_partial/footer') %>
</body>

</html>
